<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-16" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="./media/logo.png" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}" />
    <title>Perfil de usuario</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="./index.html">
          <img src="/static/media/logo.png" alt="imagen" />
        </a>
      </div>
      <nav>
        <ul class="nav-lista">
          <li class="lista-link">
            <a href="./index.html">PERFIL</a>
          </li>
          <li class="lista-link">
            <a href="./crear.html">CREAR</a>
          </li>
          <li class="lista-link">
            <a href="./consultar.html">CONSULTAR</a>
          </li>
          <li class="lista-link">
            <a href="./actualizar.html">ACTUALIZAR</a>
          </li>
          <li class="lista-link">
            <a href="./eliminar.html">ELIMINAR</a>
          </li>
        </ul>
      </nav>
      <button class="boton">
        <a href="./login.html">SALIR</a>
      </button>
    </header>
  </body>
</html>
